user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

{{key "nginx/upstreams"}}

{{key "nginx/basic"}}

{{key "nginx/gzip"}}

include /etc/nginx/mime.types;
default_type application/octet-stream;

access_log /var/log/nginx/access.log;
error_log /var/log/nginx/error.log;

include /etc/nginx/conf.d/*.conf;
include /etc/nginx/sites-enabled/*;

{{range ls "nginx/azure/publicendpoint"}}
# {{.Key}}
{{.Value}}

{{end}}
}